In [1]:
import pandas as pd
import numpy as numpy

In [2]:
# Load the data using Pandas
df = pd.read_csv('job-market.csv')
print(f"The Dataset consists of: {df.shape[0]} rows and {df.shape[1]} columns")

#TODO: Visualize the top 10 first Rows
print(f"Top 10 Rows: \n{df.head(10)}")

The Dataset consists of: 40789 rows and 13 columns
Top 10 Rows:
           Id                                              Title  \
0  37404348.0                           Casual Stock Replenisher
1  37404337.0                           Casual Stock Replenisher
2  37404356.0  RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...
3  37404330.0                              Team member - Belrose
4  37404308.0  Business Banking Contact Centre Specialist, Ni...
5  37404307.0  Business Banking Contact Centre Specialist, Ni...
6  37404355.0               Casual Café All-rounder in Semaphore
7  37404350.0           Casual Café All-rounder in Woolloongabba
8  37404301.0                                       Telemarketer
9  37404286.0                       Casual Dish Hand in Brighton

                                          Company                      Date  \
0                                     Aldi Stores  2018-10-07T00:00:00.000Z
1                                     Aldi Stores  2018-10-07T00:00:00.000Z
2                             LB Creative Pty Ltd  2018-10-07T00:00:00.000Z
3                          Anaconda Group Pty Ltd  2018-10-07T00:00:00.000Z
4  Commonwealth Bank - Business & Private Banking  2018-10-07T00:00:00.000Z
5  Commonwealth Bank - Business & Private Banking  2018-10-07T00:00:00.000Z
6                                      Jora Local  2018-10-07T00:00:00.000Z
7                                      Jora Local  2018-10-07T00:00:00.000Z
8                            Reventon Investments  2018-10-07T00:00:00.000Z
9                                      Jora Local  2018-10-07T00:00:00.000Z

                  Location                             Area  \
0                   Sydney      North West & Hills District
1    Richmond & Hawkesbury                              NaN
2                 Brisbane              CBD & Inner Suburbs
3  Gosford & Central Coast                              NaN
4                   Sydney            Ryde & Macquarie Park
5                   Sydney            Ryde & Macquarie Park
6                 Adelaide                              NaN
7                 Brisbane              CBD & Inner Suburbs
8                Melbourne              CBD & Inner Suburbs
9                Melbourne  Bayside & South Eastern Suburbs

                   Classification               SubClassification  \
0      Retail & Consumer Products               Retail Assistants
1      Retail & Consumer Products               Retail Assistants
2      Retail & Consumer Products               Retail Assistants
3      Retail & Consumer Products               Retail Assistants
4  Call Centre & Customer Service                 Sales - Inbound
5  Call Centre & Customer Service  Customer Service - Call Centre
6           Hospitality & Tourism                   Waiting Staff
7           Hospitality & Tourism                   Waiting Staff
8  Call Centre & Customer Service                Sales - Outbound
9           Hospitality & Tourism        Kitchen & Sandwich Hands

                                         Requirement FullDescription  \
0  Our Casual Stock Replenishers pride themselves...             NaN
1  Our Casual Stock Replenishers pride themselves...             NaN
2  BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA             NaN
3  Bring it on - do you love the great outdoors a...             NaN
4  We are seeking highly articulate, enthusiastic...             NaN
5  We are seeking highly articulate, enthusiastic...             NaN
6  A cafe/restaurant in Semaphore is seeking a ca...             NaN
7  A cafe in Woolloongabba is seeking a casual Ca...             NaN
8  Market leading investment & financial services...             NaN
9  A restaurant in Brighton is seeking a casual D...             NaN

   LowestSalary  HighestSalary JobType
0           0.0           30.0     NaN
1           0.0           30.0     NaN
2           0.0           30.0     NaN
3           0.0           30.0     NaN
4           0.0           30.0     NaN
5           0.0           30.0     NaN
6           0.0           30.0     NaN
7           0.0           30.0     NaN
8           0.0           30.0     NaN
9           0.0           30.0     NaN

In [3]:
df.dtypes

Id                   float64
Title                 object
Company               object
Date                  object
Location              object
Area                  object
Classification        object
SubClassification     object
Requirement           object
FullDescription       object
LowestSalary         float64
HighestSalary        float64
JobType               object
dtype: object

In [5]:
df.head(3)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
1,37404337.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
2,37404356.0,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0.0,30.0,NaN

In [10]:
#TODO: fix the data type of column Date
# df["Date"] = df["Date"].replace(...)
# df["Date"] = pd....(df["Date"])
df["Date"] = pd.to_datetime(df["Date"])
print(f"Data type of Date: {df['Date'].dtypes}") # now it should be datetime64 and we can filter by date
print(f"The earliest date in the dataset: {df['Date'].min()}. The latest date in the dataset: {df['Date'].max()}")
before_10_03 = df[df["Date"] < "2018-10-03"]
print(f"Number of rows before 10th March 2018: {before_10_03.shape[0]}")
print(f"Number of rows after 10th March 2018: {df.shape[0] - before_10_03.shape[0]}")

Data type of Date: datetime64[ns, UTC]
The earliest date in the dataset: 2018-10-01 00:00:00+00:00. The latest date in the dataset: 2018-10-07 00:00:00+00:00
Number of rows before 10th March 2018: 759
Number of rows after 10th March 2018: 40030

In [11]:
df.head(3)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348.0,Casual Stock Replenisher,Aldi Stores,2018-10-07 00:00:00+00:00,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
1,37404337.0,Casual Stock Replenisher,Aldi Stores,2018-10-07 00:00:00+00:00,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
2,37404356.0,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0.0,30.0,NaN

In [13]:
# Calculate the average salary as a new column
# df = df.assign(AverageSalary = )
df = df.assign(AverageSalary = (df["LowestSalary"] + df["HighestSalary"]) / 2)

df.head(10)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType,AverageSalary
0,37404348.0,Casual Stock Replenisher,Aldi Stores,2018-10-07 00:00:00+00:00,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN,15.0
1,37404337.0,Casual Stock Replenisher,Aldi Stores,2018-10-07 00:00:00+00:00,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN,15.0
2,37404356.0,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0.0,30.0,NaN,15.0
3,37404330.0,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07 00:00:00+00:00,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0.0,30.0,NaN,15.0
4,37404308.0,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07 00:00:00+00:00,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0.0,30.0,NaN,15.0
5,37404307.0,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07 00:00:00+00:00,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0.0,30.0,NaN,15.0
6,37404355.0,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07 00:00:00+00:00,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0.0,30.0,NaN,15.0
7,37404350.0,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0.0,30.0,NaN,15.0
8,37404301.0,Telemarketer,Reventon Investments,2018-10-07 00:00:00+00:00,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0.0,30.0,NaN,15.0
9,37404286.0,Casual Dish Hand in Brighton,Jora Local,2018-10-07 00:00:00+00:00,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0.0,30.0,NaN,15.0